// contact.scss
// -----------------------------------------------------------------

.contact-us {
  .contact-methods {
    font-size: 18px;
    strong {
      font-size: 14px;
      text-transform: uppercase;
      font-family: $font-family-sans-serif;
      margin-right: 5px;
    }
    .icon-directions {
      height: 21px;
      margin-right: 10px;
      position: relative;
      top: -3px;
    }
  }
  .gform_wrapper {
    margin-right: 0;
    margin-top: 0;
    max-width: 100%;
  }
  // Contact Us Form
  .contact-form {
    background: rgba(0,0,0,.05);
    font-family: $font-family-sans-serif;
    padding: 25px 30px 30px;
    .gform_title {
      margin-top: 0;
      border-bottom: 1px solid #E0DFDE;
      padding-bottom: 20px;
      font-size: 24px;
      font-family: $font-family-sans-serif;
      font-weight: 700;
    }
    .gform_fields {
      .gfield_label {
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin-bottom: 0;
      }
      .ginput_complex {
        label {
          font-size: 14px;
        }
      }
      .gfield_required {
        color: $brand-danger;
      }
      input[type="text"] {
        @extend .form-control;
        width: 100%;
      }
      #recaptcha_response_field {
        height: auto;
        display: inline-block;
      }
      .gfield_radio {
        font-size: 16px;
        font-family: $font-family-sans-serif;
        label {
          font-weight: 400;
        }
        input:checked+label {
          font-weight: 400;
        }
      }
      textarea {
        @extend .form-control;
        height: 150px;
      }
      // Opt in
      .gchoice_1_3_1 {
        margin-top: -30px;
      }
      .gfield_error {
        background-color: $state-danger-bg;
        .gfield_label {
          color: $state-danger-text;
        }
        .validation_message {
          color: $state-danger-text;
          font-family: $font-family-sans-serif;
          margin-bottom: 0;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
    .gform_footer {
      // Submit
      .gform_button {
        @extend .btn;
        @extend .btn-primary;
        width: 100%;
        font-size: 24px;
      }
    }
    .validation_error {
      @extend .alert;
      @extend .alert-danger;
      font-family: $font-family-sans-serif;
      font-size: 16px;
    }
  }
  .gform_confirmation_wrapper {
    border-radius: 5px;
    font-family: $font-family-sans-serif;
    .glyphicon {
      margin-right: 5px;
    }
  }
}

// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .contact-us {
    .contact-methods {
      margin: 0 0 50px;
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .contact-us {
    .contact-methods {
      margin: 0 0 50px;
    }
  }
  
}

// Up to landscape phone
@media (max-width: 480px) {}
