// colors.scss
// -----------------------------------------------------------------

$link-inverted:       #47C2FF;
$red:                 #EB5C46;
$brown:               #5C4D39;
$green:               #44915A;
$orange:              #DE7868;
$yellow:              #DEA368;
$blue:                #4A6B92;
$teal:                #3E95AD;

$border-color:        #e2e1da;