// blog-sidebar.scss
// -----------------------------------------------------------------

.blog-sidebar {
  .widget_search {
    margin: 0 0 45px;
    .search {
      position: relative;
    }
    .search-input {
      border-radius: 23px;
      font-family: $font-family-sans-serif;
      font-size: 18px;
    }
    .search-submit {
      position: absolute;
      background: transparent;
      border: 0;
      top: 10px;
      right: 15px;
      padding: 0;
      line-height: 1em;
      img {
        height: 18px;
      }
    }
  }
  .widget_text {
    @include make-sm-column(12);
  }
  .widget_search {
    @include make-sm-column(6);
    @include make-md-column(12);
  }
  .sidebar-archives {
    margin: 0 0 45px;
    h3 {
      margin-top: 0;
    }
    select {
      font-family: $font-family-sans-serif;
      font-size: 18px;
    }
  }

  .sidebar-about {
    background: rgba(68,145,90,.16);
    border-radius: 8px;
    padding: 25px 30px;
    color: #132E1B;
    font-size: 16px;
    position: relative;
    margin: 0 0 45px;
    h5 {
      color: #52A168;
      margin: 0 0 10px;
      font-size: 14px;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      a {
        margin-top: 10px;
        display: block;
      }
    }
  }

  .sidebar-tripadvisor {
    text-align: center;
    margin: 0;
    h3 {
      text-align: left;
      margin: 0 0 30px;
    }
    .tripadvisor-award {
      img {
        max-width: 100%;
      }
    }
    img {
      margin: 0 0 25px;
    }
  }

  .sidebar-subscribe {
    background: $orange;
    color: #fff;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    font-family: $font-family-sans-serif;
    h3 {
      margin: 0 0 15px;
      font-size: 16px;
      line-height: 1;
      text-transform: uppercase;
      font-family: $font-family-display;
      span {
        display: block;
        font-size: 27px;
        margin: 10px 0 0;
        font-family: $font-family-sans-serif;
      }
    }
    p {
      margin: 0 0 15px;
      font-size: 16px;
    }
    form {
      .form-control {
        display: block;
        margin: 0 0 5px;
        border: 0;
        font-size: 16px;
        height: 36px;
      }
      .btn {
        width: 100%;
        background: $orange;
        border: 2px solid #fff;
        &:hover {
          background: #fff;
          color: $orange;
        }
      }
    }
  }

}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {

  .blog-sidebar {
    .sidebar-subscribe {
      padding: 15px;
    }
  }

}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {

  .blog-sidebar {
    margin: 30px 0 0;
    .sidebar-archives {
      h3 {
        display: none;
      }
    }
    .sidebar-tripadvisor {
      margin: 0;
      h3 {
        text-align: center;
        margin: 0 0 50px;
      }
      img {
        margin: 0 15px 50px;
      }
    }
  }

}

// Up to tablet
@media (max-width: 767px) {

  .blog-sidebar {
    margin: 30px 0 0;
    .sidebar-archives {
      h3 {
        display: none;
      }
    }
    .sidebar-tripadvisor {
      margin: 0;
      h3 {
        text-align: center;
        margin: 0 0 50px;
      }
      img {
        margin: 0 15px 50px;
      }
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .blog-sidebar {
    .sidebar-archives {
      h3 {
        display: none;
      }
    }
    .sidebar-tripadvisor {
      margin: 0;
      h3 {
        text-align: center;
        margin: 0 0 50px;
      }
      img {
        margin: 0 15px 50px;
      }
    }
  }

}
