// callout-footer.scss
// -----------------------------------------------------------------

.callout-footer {
  text-align: center;
  padding: 80px 0;
  background-image: url('assets/img/dotted-bg-dark.svg');
  background-repeat: repeat-x;
  .statement {
    font-size: 30px;
    margin: 0 0 30px;
    p {
      margin: 0;
    }
  }
  .btn,
  .or {
    vertical-align: middle;
  }
  .or {
    font-size: 30px;
    font-style: italic;
    display: inline-block;
    margin: 0 30px;
    line-height: 1em;
  }
  .retreats {
    font-size: 18px;
    margin: 30px 0 0;
  }
  .signup-callout {
    padding: 80px 0 0;
  }
}


// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .callout-footer {
    padding: 50px 0;
    .statement {
      font-size: 24px;
      margin: 0 0 30px;
    }
    .or {
      font-size: 30px;
      font-style: italic;
      display: inline-block;
      margin: 0 30px;
      line-height: 1em;
    }
    .retreats {
      font-size: 18px;
      margin: 30px 0 0;
    }
    .signup-callout {
      padding: 50px 0 0;
    }
  }

}

// Up to landscape phone
@media (max-width: 480px) {

  .callout-footer {
    padding: 30px 0;
    .statement {
      font-size: 21px;
    }
    .btn,
    .or {
      display: block;

    }
    .or {
      font-size: 24px;
      display: block;
      margin: 15px 30px;
    }
    .retreats {
      font-size: 18px;
      margin: 30px 0 0;
    }
    .signup-callout {
      padding: 30px 0 0;
    }
  }

}
